.md__image {
    display: block;
    width: 97%;
    height: min(calc(var(--art-width)*.97 * 9 / 16), calc(1000px*.97 * 9 / 16));
    margin: 1.5rem auto;
}

p {
    margin-bottom: 1rem;
}

.date {
  margin-top: -1rem;
  font-size: .75rem;
}

h1, h2, h3, h4, h5 {
    margin: 2rem 0 1.38rem -.3rem;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

ul {
    padding-left: 1.5rem;
}

.katex-display {
    font-size: 1.5rem;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}

p > code, li > code {
  background-color: rgba(var(--font-color), .12);
  border-radius: .3em;
  font-family: courier, monospace;
  padding: .2em .3em 0;
}
