@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src:
        local('Open Sans Regular'),
        url('/assets/fonts/opensans-regular.woff2') format('woff2'),
        url('/assets/fonts/opensans-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src:
        local('Open Sans Italic'),
        url('/assets/fonts/opensans-italic.woff2') format('woff2'),
        url('/assets/fonts/opensans-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src:
        local('Open Sans Bold'),
        url('/assets/fonts/opensans-bold.woff2') format('woff2'),
        url('/assets/fonts/opensans-bold.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 400;
    src:
        local('Merriweather Regular'),
        url('/assets/fonts/merriweather-regular.woff2') format('woff2'),
        url('/assets/fonts/merriweather-regular.woff') format('woff');
}

:root {
    --bg-color: 256, 256, 256;
    --footer-bg-color: 256, 256, 256;
    --font-color: 0, 0, 0;
    --footer-font-color: 0, 0, 0;
    --link-color: 0, 0, 256;
    --nav-height: 2.8em;
    --art-width: 60vw;
    --line-height: 1.75;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: 51, 51, 51;
        --footer-bg-color: 51, 51, 51;
        --font-color: 204, 204, 204;
        --footer-font-color: 204, 204, 204;
        --link-color: 173, 216, 230;
    }
}

@media (max-width: 900px) {
    :root {
        --art-width: 92vw;
    }
}

body {
    background-color: rgb(var(--bg-color));
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: var(--line-height);
    color: rgb(var(--font-color));
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--nav-height);
    background-color: rgb(var(--bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 1px 1px rgba(var(--font-color), 0.2);
}

nav > a {
    color: rgb(var(--font-color));
    display: flex;
    gap: .25rem;
    font-size: 1.5rem;
}

nav > a:hover {
    text-decoration: none;
}

#nav-banner-1 {
    font-weight: 700;
}

#nav-banner-2 {
    font-weight: 400;
}

#container {
    margin-top: var(--nav-height);
    padding-top: 1rem;
}

article {
    width: var(--art-width);
    max-width: 1000px;
    margin: 0 auto 3rem;
}

footer {
    margin-top: auto;
    background-color: rgb(var(--footer-bg-color));
    color: rgb(var(--footer-font-color));
    padding: 0.5rem calc((100vw - var(--art-width))/2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9rem;
}

#licese {
    font-size: .7rem;
    text-align: center;
}

#footer {
    display: flex;
    margin-bottom: .2rem;
    font-size: .8rem;
}

#footer ul {
    margin: 0;
}

#footer a {
    color: rgba(var(--font-color));
}

#footer a svg {
    position: relative;
    top: .2em;
    fill: rgba(var(--font-color));
    margin-right: .4em;
}

img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

a {
    color: rgb(var(--link-color));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image {
    background-position: center;
    background-size: cover;
}

.hidden {
    opacity: 0;
}
