.article-card, .article-card:visited {
    display: grid;
    grid-template-columns: calc(var(--art-width) * .25) 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "thumbnail title"
        "thumbnail content";
    column-gap: 1rem;
    height: calc(var(--art-width) * .25 * 9 / 16);
    text-decoration: none;
    color: rgb(var(--font-color));
    overflow: hidden;
}

.article-card-thumbnail {
    grid-area: thumbnail;
}

.article-card-title {
    grid-area: title;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.728rem;
}

.article-card-content {
    grid-area: content;
    font-size: .8rem;
}

.article-card-content > p {
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: rgb(var(--font-color));
    background-image: linear-gradient(to right, rgb(var(--bg-color)), rgb(var(--font-color)), rgb(var(--bg-color)));%;
}

@media (max-width: 900px) {
.article-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--art-width) * 9 / 16) auto;
    grid-template-areas:
        "thumbnail"
        "title"
        "content";
    column-gap: 1rem;
    height: auto;
}
}
