<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ $css := "css/base.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}">
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ block "head" . }}
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <link rel="preload" href="/assets/fonts/merriweather-regular.woff2" as="font" type="font/woff2"/>
    <link rel="preload" href="/assets/fonts/opensans-regular.woff2" as="font" type="font/woff2"/>
    <link rel="preload" href="/assets/fonts/opensans-bold.woff2" as="font" type="font/woff2"/>
  </head>
  <body>
    {{ partial "nav.html" }}
    <div id="container">
      <article>
        {{ block "main" . }}
        {{ end }}
      </article>
    </div>
    {{ partial "footer.html" }}

    {{ partial "helpers/lazy-load-image.html" }}
    {{ block "script" . }}
    {{ end }}
  </body>
</html>
