{{ define "head" }}
    {{ $css := "css/list.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}">
{{ end }}

{{ define "main" }}
    {{ with .Site.GetPage "section" "posts" }}
        {{ range .Pages }}
            <a class="article-card" href="{{.RelPermalink}}">
              <div class="article-card-thumbnail image" style="background-image: url({{.RelPermalink}}ph-thumbnail.jpg)">
                <img src="{{.RelPermalink}}thumbnail.jpg" loading="lazy" alt="{{.Title}}">
              </div>
              <div class="article-card-title">
                {{.Title}}
              </div>
              <div class="article-card-content">
                {{ .Content | truncate 200 }}
              </div>
            </a>
            <hr>
        {{ end }}
    {{ end }}
{{ end }}
