{{ define "head" }}
{{ $css := "css/article.css" | relURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "css/prism.css" | relURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ $css := "katex/katex.min.css" | relURL }}
<link rel="stylesheet" href="{{ $css }}">
{{ end }}

{{ define "script" }}
{{ partial "helpers/katex.html" . }}
{{ partial "helpers/prism.html" . }}
{{ partial "helpers/date.html" . }}
{{ end }}

{{ define "title" }}
{{ .Title }} | Domowa Inżynieria
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="date">{{ time.Format "2006-01-02" .Date }}</div>
{{ .Content }}
{{ end }}
