<script defer src="/katex/katex.min.js"></script>

<script defer src="/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>

<script>
 document.addEventListener("DOMContentLoaded", function() {
     renderMathInElement(document.body, {
         delimiters: [
             {left: "$$", right: "$$", display: true},
             {left: "$", right: "$", display: false}
         ]
     });
 });
</script>
